<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <h1>Adoptable Dogs Near You</h1>
        <br>
        <table border=1 cellpadding=7>
                    <tr>
                        <th>ID</th>
                        <th>Organization ID</th>
                        <th>Name</th>
                        <th>Breed</th>
                        <th>Location</th>
                        <th>Picture</th>
                    </tr>
                    {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.org_id }}</td>
                        <td><a href="{{ obj.id }}">{{ obj.name }}</a></td>
                        <td>{{ obj.breed }}</td>
                        <td>{{ obj.location }}</td>
                        <td><img src='{{ obj.pic }}'></td>
                    </tr>
                    {% endfor %}
        </table>
    </body>
</html>